.cart-container {
    padding: 20px;
}


.proceed-to-payment-button {
    background-color: red !important; 
    color: white !important;
    margin-top: 20px; 
}

.proceed-to-payment-button:hover {
    background-color: darkred !important; 
}

.total-amount {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.TableCell-checkbox {
    text-align: center;
}

.TableCell-actions {
    text-align: center;
}