body {
  margin: 0;
  font-family: "Unica One", sans-serif;
  font-size: larger;
  /* background-image: "../images/KFC.jpg"; */
}

.loginForm {
  background: #ffffff84;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: auto; 
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.5);
  gap: 1rem;
}


.loginForm .MuiTextField-root {
  width: 100%;
}

.loginForm h2, .loginForm p {
  text-align: center;
  margin: 10px 0;
}
.loginForm p {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.redButton {
  background-color: rgb(161, 27, 27) !important;
  color: white !important;
}

.redButton:hover {
  background-color: rgb(120, 20, 20) !important;
}