.page {
    display: flex;
    flex-direction: column;
}

.page-content {
    padding-top: 60px; 
    padding: 20px;
    flex-grow: 1;
}

.column-gap {
    display: flex;
    gap: 20px;
}

.search-filter {
    display: flex;
    gap: 10px;
}

.tablebutton {
    background-color: #aa0f0f;
    color: white;
}

.buttongroup {
    display: flex;
    gap: 10px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.modalform {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-arrows[type=number] {
    -moz-appearance: textfield;
}

.actionicon {
    cursor: pointer;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .column-gap {
        flex-direction: column;
    }

    .modal {
        width: 90%;
    }
}