@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Unica One', sans-serif;
    padding-top: 120px;
}

.menu-Title {
    margin-top: 5vh;
    color: rgb(2, 2, 2);
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2em; 
    justify-content: center; 
    margin-top: 20px;
    padding: 0 10px;
}

.product-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px; 
    height: 400px; 
}

.product-card img {
    max-width: 100%;
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
}

.product-details {
    margin-top: 5px;
    font-size: 16px;
}

.product-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-button {
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: red;
}

@media (max-width: 1200px) {
    .menu-list {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 900px) {
    .menu-list {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .menu-list {
        grid-template-columns: 1fr; 
    }
}
