@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar {
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(161, 27, 27);
    font-size: 18px;
    position: sticky;
    top: 0;
    padding: 0 20px;
    z-index: 100;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin-left: 5px;
}

.navbar-items img {
    height: 75px;
    width: 75px;
}

.navbar-items-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    color: #ff9e01;
}

.navbar-items-section {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .navbar-items,
    .navbar-items-section {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .navbar-items img {
        margin-bottom: 10px;
    }

    a {
        font-size: 18px;
    }

    .navbar-items-tile {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .navbar-items img {
        height: 60px;
        width: 60px;
    }

    a {
        font-size: 16px;
    }
}

.cart-icon {
    position: relative;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
}
