@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.navbar {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    justify-content: space-between;
    height: 90px;
    background-color: rgb(161, 27, 27);
    font-size: 18px;
    position: sticky;
    top: 0;
    padding-left: 20px;
    z-index: 100;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; 
    font-weight: bold;
    align-items: center; 
    margin-left: 5px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.navbar-items img {
    height: 75px;
    width: 75px;
}



@media (max-width: 600px) {
    .navbar-items {
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
}
.navbar-items-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;

}

@media (max-width: 600px) {
    .navbar-items {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    font-size: 20px;
}

.navbar-items-section a {
    color: white; 
    text-decoration: none;
}

.navbar a:hover {
    color: #ff9e01;
}
.navbar-items-section {
    color: white;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-left: 5px;
}