.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -220px;
    background-color: rgb(161, 27, 27);
    overflow-x: hidden;
    padding-top: 20px;
    align-items: left;
    transition: left 0.5s;
  }
  
  .sidebar:hover {
    left: 0; 
  }

  .sidebar-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: left;
  }

  .sidebar-item a {
    color: white; 
    transition: color 0.3s ease; 
  }
  
  .sidebar-item a:hover {
    color: #ff9e01; 
  }

  .sidebar-item:hover {
    color: #ff9e01;
  }
  
  .sidebar .sidebar-items img {
    height: 200px;
    width: 200px;
    margin: 0 auto 20px; 
    display: block; 
  }



